<div class="container">
  <div class="row">
    <div class="col-xs-12" style="background-color:green" >
      <!--<div app-server></div>
      <div app-server></div>-->
      <div class="app-server"></div>
      <div class="app-server"></div>
      <p>
          servers works!
          
          <!--<app-server></app-server>
          <app-server></app-server>-->
          <!--<div app-server></div>
          <div app-server></div>-->
          <div class="app-server"></div>
          <div class="app-server"></div>
          <!--$event special dom event associated with the html controls like text and button-->
          <input type="text" class="form-control" (input)=textInput($event) /><br/>
          {{inpStringText}}
      <button class="btn btn-primary" name="addnewServer" [disabled]="!makemeoffline" (click)="btnClicked()">addnewServer</button>
    
    {{btnclickmsg}}
    </div>
    {{getmakemeoffline()}}
    <p  [innerText]="getmakemeoffline()"></p>
  </div>
   <div class="row">
        <p>
          kfkjdfk !!!!
        </p>
    </div>
</div>
